


h1,h2{
    font: 24px 'Roboto', sans-serif;
    text-align: center;
}


.paris{
    color: red
}

.paris{
    background-color: beige
}

#london{
    background-color: pink
}

#myspan{
    padding: 5px; 
    border-top: 2px;
    border-bottom: 4px gray
}

p{
    border-width: 10px;
    border-style: ridge;
    border-color: lightgreen;
    margin: 5px
}

body{
    font: 12px 'Crimson Text', serif
} 